.mail-list {
    padding-block-end: 2em;
    margin-block-end: 2em;
    margin-inline-end: 1em;

    height: max-content;

    background-color: white;
    border-radius: 20px;
    box-shadow:
        1px 1px 5px 0px rgba(0, 0, 0, 0.01);
}

.mail-list-nav {
    margin-block-start: 1.2em;
    color: hsl(0, 0%, 15%);
}

.mail-list-buttons,
.mail-list-counter {
    font-size: 1.5em;
}

.mail-list-buttons {
    margin: 0 0.55em;
    font-size: 1.55em;
}

.mail-list-buttons>i,
.mail-list-counter>i {
    padding: 0.5em;

    min-width: 50px;

    text-align: center;
    border-radius: 9999px;

    cursor: pointer;

    transition: background-color 200ms;
}

.mail-list-buttons>i:hover,
.mail-list-counter>i:hover {
    background-color: hsl(0, 0%, 93%);
}

.mail-list-counter>i.faint,
.mail-list-counter>i:hover.faint {
    cursor: auto;
    background-color: white;
}

.mail-list-counter {
    margin: 0 0.55em;
}

.mail-list-counter>span {
    font-family: OpenSans-Regular;
    font-size: 0.8em;

    color: hsl(0, 0%, 40%);
}

.mail-sort-container {
    margin-inline-start: 2em;
}

.mail-sort-container>div {
    padding: 0.35em 0.7em;

    font-size: 1em;
    border: 2px solid hsl(0, 0%, 86%);
    color:hsl(0, 0%, 20%);
    border-radius: 999px;

    cursor: pointer;

    transition: background-color 200ms;
}

.mail-sort-container>div:hover {
    background-color: hsl(0, 0%, 93%);
}

.mail-sort-container>div>span {
    margin-block-end: 0.1em;
    font-family: OpenSans-Regular;
    font-weight: 600;
}

.mail-list-tabs-primary,
.mail-list-tabs-promotions,
.mail-list-tabs-social {
    height: 100px;

    font-size: 1.4em;
    color: hsl(0, 0%, 15%);

    cursor: pointer;
}

.mail-list-tabs-primary:hover,
.mail-list-tabs-promotions:hover,
.mail-list-tabs-social:hover {
    background-color: hsl(0, 0%, 96%);
}

.mail-list-tabs-primary.chosen,
.mail-list-tabs-promotions.chosen
.mail-list-tabs-social.chosen {
    background-color: hsl(0, 0%, 96%);
}

.mail-list-tabs-primary>i,
.mail-list-tabs-promotions>i,
.mail-list-tabs-social>i {
    margin-block-start: 0.2em;
    margin-inline-start: 1.25em;
    margin-inline-end: 1em;
}

.mail-list-tabs-primary>span,
.mail-list-tabs-promotions>span,
.mail-list-tabs-social>span {
    font-family: Youtube-Regular;
    font-weight: 600;
}

.mail-list-tabs-bar.chosen {
    height: 4px;
    width: 90%;
    border-radius: 8px;

    background-color: hsl(214, 82%, 40%);
}

.no-mails-title,
.no-mails-subject,
.no-mails-body {
    margin: 0;

    text-align: center;
    font-size: 1.25em;
    font-weight: 400;
    font-family: Roboto-Bold;
}

.no-mails-title {
    font-size: 1.5em;
}

.no-mails-subject,
.no-mails-body {
    font-family: Roboto-Regular;
}

.read {
    font-family: Roboto-Thin !important;
    background-color: hsl(215, 68%, 95%) !important;
}

.faint {
    color: rgba(0, 0, 0, 0.4);
}

.gold {
    color: gold;
}

.mail-preview {
    padding: 0 0.75em;
    padding-inline-end: 1.5em;

    /* height: 100%; */

    border-block-start: 2px solid hsl(0, 0%, 90%);
    border-block-end: 2px solid hsl(0, 0%, 90%);
    border-inline: 2px solid #f2f6fc;
    border-radius: 3px;
    box-shadow: none;

    font-family: Roboto-Regular;

    cursor: pointer;

    transition: border 100ms, box-shadow 100ms;
}

.mail-preview:hover {
    border-inline: 2px solid hsl(0, 0%, 90%);
    border-block-end: 2px solid hsl(0, 0%, 50%);
    box-shadow:
        2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.mail-preview:first-of-type,
.mail-preview:first-of-type:hover {
    border-block-start: 2px solid hsl(0, 0%, 100%);
}

.mail-preview>i {
    padding: 0.5em;

    font-size: 1.5em;
    border-radius: 9999px;
}

.mail-preview>i:hover {
    background-color: #eee;
}

.mail-preview>h3,
.mail-preview>h4,
.mail-preview>h5 {
    font-size: 1.25em;
    letter-spacing: 0.04em;
}

.mail-preview>h3 {
    margin-inline-start: 0.5em;

    font-size: 1.25em;
    font-family: Roboto-Regular;
}

.mail-preview>h4 {
    font-family: Roboto-Regular;
    overflow: hidden;

    height: 1.3em;
}

.mail-preview>h4>span {
    font-family: Roboto-Thin;
}

.data-usage {
    margin-block-start: 1.5em;
    margin-inline-start: 1.5em;

}

.data-usage-stats,
.last-activity {
    margin-block-start: 0.75em;

    font-size: 1.1em;
    font-family: OpenSans-Regular;

    color: hsl(0, 0%, 40%);
}

.data-usage-bar {
    height: 10px;
    width: 300px;

    background-color: #eee;
    border-radius: 8px;
}

.last-activity {
    margin-block-start: 1.5em;
    margin-inline-end: 1.5em;
}