.chosen {
    background-color: hsl(218, 87%, 91%);
    font-family: Roboto !important;
    font-weight: 900 !important;
}

.blue {
    color: hsl(214, 82%, 40%);

}

.search-input {
    margin: 0.5em 2em;
    padding: 0.25em 0.5em;

    width: 500px;

    background-color: hsl(215, 68%, 92%);
    border-radius: 9999px;
}

.search-input:focus-within {
    background-color: hsl(215, 68%, 100%);
    box-shadow: 0 1px 1px 0 rgba(65,69,73,.3),0 1px 3px 1px rgba(65,69,73,.15);
}

.search-input>i {
    width: fit-content;
    font-size: 1.25em;
    cursor: pointer;
}

input[type="search"] {
    width: 95%;
    min-height: 2.4em;

    font-size: 1.25em;

    background-color: inherit;
    border: none;
    outline: none;
}  
