.mail-container {
    position: relative;
    height: max-content;
    background-color: hsl(215, 68%, 97%);
}

.mail-header {
    background-color: hsl(215, 68%, 97%);
}

.logo {
    height: 5em;
    width: 5em;

    cursor: pointer;
}

.expanded {
    font-size: 0.75em;
    width: 200px !important;
}

.side-filter {
    padding: 0.25em 0.5em;

    font-size: 2em;
    background-color: hsl(215, 68%, 97%);
    color: hsl(0, 0%, 15%);
}

.filter-icon-nav {
    height: fit-content;
    width: max-content;
}

.filter-icon-nav-category {
    padding: 0.5em;

    width: 65px;

    border-radius: 9999px;

    cursor: pointer;

    transition: background-color 100ms, width 300ms;
}

.filter-icon-nav-category:hover {
    background-color: hsl(0, 0%, 90%);
}

.filter-icon-nav-category>i {
    margin-inline-end: 0.5em;
}

.filter-icon-nav-category>.fa-file {
    margin-inline-start: 0.1em;
}

.filter-icon-nav-category>.fa-trash-can {
    margin-inline-start: 0.05em;
}

.filter-icon-nav-category.expanded>.fa-envelope {
    margin-inline-start: 0.1em;
}

.filter-icon-nav-category>h3,
.filter-icon-nav-category>span {
    font-size: 0.9em;
    font-weight: 400;
}

.filter-icon-nav-category>h3 {
    width: 75px;
}

.filter-icon-nav>i {
    margin-block-end: 0.25em;
    padding: 0.5em;

    width: 65px;

    border-radius: 9999px;
    text-align: center;

    cursor: pointer;

    transition: background-color 100ms, box-shadow 200ms;
}

.filter-icon-nav>i:hover {
    background-color: #eee;
}

.compose {
    margin-block-end: 0.25em;
    background-color: #c2e7ff;
}

.fa-pencil:hover {
    background-color: #c2e7ff !important;
    box-shadow:
        1px 1px 5px 3px rgba(0, 0, 0, 0.1);
}