/* Basics */
@import 'basics/mail-layout.css';

/* Pages */
@import 'pages/mail-index.css';
@import 'pages/mail-details.css';
@import 'pages/mail-send.css';

/* Components */
@import 'cmps/mail-list.css';
@import 'cmps/mail-preview.css';
@import 'cmps/mail-filter.css';
@import 'cmps/mail-reply.css';


@media (width < 950px) {

    body {
        font-size: 0.5em;
    }

    .mail-container {
        padding-inline-start: 0.75em;
        width: max-content;
        grid-template-columns: max-content;
        grid-template-rows: max-content max-content;
    }

    .mail-header {
        margin-block: 0.5em;
        height: max-content;
        grid-template-columns: minmax(max-content, 380px);
    }

    .search-input {
        width: 100%;
        margin: 0;
        height: 30px;
    }

    .search-input>input {
        font-family:'Open Sans';

    }

    .logo {
        display: none;
    }

    .side-filter {
        /* display: none; */
        width: 380px;
        grid-column: 2/3;
        grid-row: 2/3;

        justify-self: start;
    }

    .filter-icon-nav {
        grid-auto-flow: column;
        margin-block-end: 0.25em;

        justify-self: center;
    }

    .fa-bars {
        display: none;
    }

    .filter-icon-nav-category {
        width: 32px;
        margin-inline-end: 0.25em;
    }

    .filter-icon-nav-category.compose {
        margin: 0;
        margin-inline-end: 0.25em;
    }

    .mail-sort-container {
        margin: 0;
        margin-inline-start: 0.9em;
    }

    .mail-sort-container>div {
        border: 1px solid hsl(0, 0%, 86%);
    }

    .mail-sort-container>div>span {
        font-family: 'Open Sans';
        font-size: 0.9em;
        font-weight: 700;
    }

    .mail-list {
        padding: 0;
        padding-block-start: 0.25em;
        max-width: 380px;
    }

    .mail-list-nav {
        /* display: none; */
        margin: 0;
        margin-block-start: 0.35em;
        grid-row: 1/2;
    }

    .mail-list-tabs {
        /* display: none; */
        grid-row: 1/2;
        grid-template-columns: repeat(3, 126.75px);
    }

    .mail-list-tabs>div {
        height: 30px;
    }

    .mail-list-tabs>div>span {
        font-family: 'Open Sans';
    }

    .mail-list-tabs-bar.chosen {
        height: 2px;
    }

    .mail-list-buttons>i,
    .mail-list-counter>i {
        padding: 0.25em;
        min-width: 10px;
    }

    .mail-preview {
        grid-auto-flow: row;
        grid-template-columns: 30px 1fr;

        justify-items: start;
    }

    .mail-preview>h3,
    .mail-preview>h3.read {
        grid-row: 1/2;
        grid-column: 2/3;

        font-family: 'Open Sans';
    }

    .mail-preview>h3.read {
        font-weight: 400;
    }

    .mail-preview>h4 {
        grid-row: 2/3;
        grid-column: 2/3;

        margin-inline-start: 0.5em;
    }

    .mail-preview>i:nth-of-type(1) {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .mail-preview>i:nth-of-type(2) {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .preview-buttons {
        display: none;
    }

    .mail-details {
        grid-column: 2/3;
        width: 380px;
    }

    .mail-details-nav {
        width: 200px;
    }

    .mail-details-nav>i {
        height: 25px;
        width: 25px;
    }

    .mail-details-content {
        grid-template-columns: 50px 315px
    }

    .user-image>img {
        width: 30px;
        height: 30px;
    }

    .mail-details-time {
        grid-column: 2/3;
        margin-inline-end: 0;
    }

    .mail-details-body {
        grid-column: 2/3;
        width: 315px;
    }

    .mail-details-buttons>button {
        width: 60px;
        font-size: 1em;
        border: 1px solid hsl(0, 0%, 90%);
    }

    #mail-reply-to-input {
        margin-block-start: 0.5em;
        height: 25px;
    }

    .no-mails-title {
        grid-row: 1/2;
        grid-column: 1/2;
        align-self: end;
    }

    .no-mails-subject {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .no-mails-body {
        grid-row: 2/3;
        grid-column: 1/2;

        align-self: end;
    }

    .mail-send {
        margin-block-start: 0.5em;
        margin-inline-start: 0.75em;

        height: 380px;
        width: 380px;

        left: 0;
        top: 0;

        border-radius: 8px;
    }

    #mail-send-to,
    #mail-send-subject { 
        height: 25px;
    }

    #mail-send-body {
        min-width: 360px;
        min-height: 250px;

        max-width: 380px;
        max-height: 250px;
    }

    .mail-list-footer {
        margin-block-start: 1.5em;
    }

    .data-usage-bar {
        width: 125px;
        height: 5px;
    }

    .last-activity {
        width: 185px;
        text-align: center;
    }

    .progress,
    .progress2 {
        top: 150px;
        width: 150px;
        height: 15px;
    }
}