footer {
    margin-block-start: 1em;

    height: 2.5em;
    width: 100%;

    font-size: 1.1em;
    font-family: Lato;
    line-height: 1;
    font-weight: 600;

    background-color: hsl(0, 0%, 100%);
    border-block-start: 2px solid hsl(0, 0%, 90%);
    text-align: center;
}

footer>div i {
    font-size: 1.3em;
    line-height: 1;
}

footer>div>div {
    position: relative;
}

footer>div>div>span:nth-of-type(2) {
    position: absolute;
    top: -0.1em;
    right: -1.4em;
}

footer>div>span:first-of-type {
    margin-inline-start: 2em;

    font-family: Roboto;
}

footer>div>span:last-of-type {
    margin-inline-start: 1em;

    font-family: Open Sans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
    font-weight: 300;
}