header {
    background: rgb(255, 255, 255);
    border-block-end: 2px solid hsl(0, 0%, 90%);
}

.app-header {
    padding: 8px 0;

    display: grid;
    grid-auto-flow: column;

    justify-items: center;

    width: 100%;
}

nav a {
    padding: 0.2em 0.7em;

    font-size: 1.25em;
    font-family: Open Sans;
    font-weight: 500;

    border-radius: 20px;

    transition: background-color 200ms;
}

nav a:hover {
    background-color: hsl(0, 0%, 93%);
}

nav a:active {
    color: purple;
}

nav a.active {
    font-weight: 700;
}